body{
    background-color: black;
}

.header{
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
}
.movie-list {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    margin: 20px;
  }
  
.movie-list li {
    margin: 10px;
  }
  
.movie-list img {
    width: 300px; 
    height: auto;
    cursor: pointer; 
  }
    
  